@import url(/css/header.css);
@import url(/css/nav.css);
@import url(/css/experiencia.css);
@import url(/css/competenciasint.css);
@import url(/css/competenciastec.css);
@import url(/css/linguas.css);
body {
  font-family: Roboto, Arial;
  max-width: 1200px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
}
